* {
  box-sizing: border-box;
}

h1,
h2,
h3,
li {
  color: #0240f4;
  font-family: "Open Sans", sans-serif;
}

ul {
  font-size: 22px;
  list-style-type: none;
  padding-left: 0;
}

img {
  display: inline-block;
  width: 230px;
}
