$font-sans:'Open Sans',
sans-serif;

$blue:#0240f4;

* {
    box-sizing: border-box;
}

//h1, h2, h3: { font-family: $font-sans;}

h1,
h2,
h3,
li {
    color: $blue;
    font-family: $font-sans;
}


ul {
    font-size: 22px;
    list-style-type: none;
    padding-left: 0;
}


